.pages :global(.text-\[6\.8px\]),
.pages :global(.text-\[7px\]),
.pages :global(.text-\[7\.2px\]),
.pages :global(.text-\[7\.5px\]),
.pages :global(.text-\[7\.7px\]),
.pages :global(.text-\[7\.8px\]) {
  font-size: 10px !important;
}

.pages :global(.text-\[8px\]),
.pages :global(.text-\[8\.5px\]) {
  font-size: 11px !important;
}

.pages :global(.text-\[9px\]),
.pages :global(.text-\[9\.5px\]) {
  font-size: 12px !important;
}

.pages :global(.text-\[11\.5px\]),
.pages :global(.text-\[12px\]) {
  font-size: 14px !important;
}
